## Import Basics Library and File Uploading

In [1]:
import pandas as pd
import numpy as np

movie_rating_df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/movie_rating_df.csv')

In [2]:
## print 5 data teratas dari movie_rating_df
print(movie_rating_df.head())

## print info tipe data tiap kolom pada tabel
print(movie_rating_df.info())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

   isAdult  startYear  endYear  runtimeMinutes                    genres  \
0        0     1894.0      NaN             1.0         Documentary,Short
1        0     1892.0      NaN             5.0           Animation,Short
2        0     1892.0      NaN             4.0  Animation,Comedy,Romance
3        0     1892.0      NaN            12.0           Animation,Short
4        0     1893.0      NaN             1.0              Comedy,Short

   averageRating  numVotes
0            5.6      1608
1            6.0       197
2            6.5      1285
3            6.1       121
4            6.1      2050
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751614 entries, 0 to 751613
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          751614 non-null  object
 1   titleType       751614 non-null  object
 2   primaryTitle    751614 non-null  object
 3   originalTitle   751614 non-null  object
 4   isAdult         751614 non-null  int64
 5   startYear       751614 non-null  float64
 6   endYear         16072 non-null   float64
 7   runtimeMinutes  751614 non-null  float64
 8   genres          486766 non-null  object
 9   averageRating   751614 non-null  float64
 10  numVotes        751614 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 63.1+ MB
None

In [3]:
# menambahkan dataframe actor_name.csv ke dalam variabel name_df
name_df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/actor_name.csv')

# print lima data teratas dari name_df
print(name_df.head())

# print info data dari tiap kolom pada tabel name_df
print(name_df.info())

       nconst          primaryName birthYear deathYear  \
0   nm1774132    Nathan McLaughlin      1973        \N
1  nm10683464        Bridge Andrew        \N        \N
2   nm1021485    Brandon Fransvaag        \N        \N
3   nm6940929   Erwin van der Lely        \N        \N
4   nm5764974  Svetlana Shypitsyna        \N        \N

                    primaryProfession                           knownForTitles
0  special_effects,make_up_department  tt0417686,tt1713976,tt1891860,tt0454839
1                               actor                                tt7718088
2                       miscellaneous                                tt0168790
3                       miscellaneous                                tt4232168
4                             actress                                tt3014168
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nconst             1000 non-null   object
 1   primaryName        1000 non-null   object
 2   birthYear          1000 non-null   object
 3   deathYear          1000 non-null   object
 4   primaryProfession  891 non-null    object
 5   knownForTitles     1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB
None

In [4]:
# menambahkan director and writer dataframe ke dalam variabel director_writer
director_writers = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/directors_writers.csv')

# menampilkan lima data teratas dari director_writers
print(director_writers.head())

# menampilkan tipe data tiap kolom
print(director_writers.info())

      tconst                   director_name  \
0  tt0011414                  David Kirkland
1  tt0011890               Roy William Neill
2  tt0014341  Buster Keaton,John G. Blystone
3  tt0018054                Cecil B. DeMille
4  tt0024151                     James Cruze

                                       writer_name
0                          John Emerson,Anita Loos
1     Arthur F. Goodrich,Burns Mantle,Mary Murillo
2  Jean C. Havez,Clyde Bruckman,Joseph A. Mitchell
3                                Jeanie Macpherson
4                 Max Miller,Wells Root,Jack Jevne
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         986 non-null    object
 1   director_name  986 non-null    object
 2   writer_name    986 non-null    object
dtypes: object(3)
memory usage: 23.2+ KB
None

### Convert into list

In [5]:
# mengubah kolom 'director_name' dan 'writer_name' dari director_writers
director_writers['director_name'] = director_writers['director_name'].apply(lambda row: row.split(','))
director_writers['writer_name'] = director_writers['writer_name'].apply(lambda row: row.split(','))

# print 5 data teratas
print(director_writers.head())

      tconst                      director_name  \
0  tt0011414                   [David Kirkland]
1  tt0011890                [Roy William Neill]
2  tt0014341  [Buster Keaton, John G. Blystone]
3  tt0018054                 [Cecil B. DeMille]
4  tt0024151                      [James Cruze]

                                         writer_name
0                         [John Emerson, Anita Loos]
1   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3                                [Jeanie Macpherson]
4               [Max Miller, Wells Root, Jack Jevne]

## Cleaning and Processing Table Cast

### Update name_df

In [6]:
# update name_df dengan hanya menggunakan kolom 'nconst', 'primaryName', 'knownForTitles'
name_df = name_df[['nconst', 'primaryName', 'knownForTitles']]

print(name_df.head())

       nconst          primaryName                           knownForTitles
0   nm1774132    Nathan McLaughlin  tt0417686,tt1713976,tt1891860,tt0454839
1  nm10683464        Bridge Andrew                                tt7718088
2   nm1021485    Brandon Fransvaag                                tt0168790
3   nm6940929   Erwin van der Lely                                tt4232168
4   nm5764974  Svetlana Shypitsyna                                tt3014168

### Movies per Actor

In [7]:
# melakukan pengecekan variasi jumlah film yang dibintangi aktor
print(name_df['knownForTitles'].apply(lambda x:len(x.split(','))).unique())

# mengubah 'knownForTitles' menjadi list to list
name_df['knownForTitles'] = name_df['knownForTitles'].apply(lambda x:x.split(','))

# menampilkan lima data teratas
print(name_df.head())

[4 1 2 3]
       nconst          primaryName  \
0   nm1774132    Nathan McLaughlin
1  nm10683464        Bridge Andrew
2   nm1021485    Brandon Fransvaag
3   nm6940929   Erwin van der Lely
4   nm5764974  Svetlana Shypitsyna

                                 knownForTitles
0  [tt0417686, tt1713976, tt1891860, tt0454839]
1                                   [tt7718088]
2                                   [tt0168790]
3                                   [tt4232168]
4                                   [tt3014168]

### Korespondensi 1-1

In [8]:
# Membuat tabel korespondensi 1-1
df_uni = []

for x in ['knownForTitles']:
    # mengulang indeks dari tiap baris dan tiap kolom dari kolom 'knownForTitles'
    idx = name_df.index.repeat(name_df['knownForTitles'].str.len())
    # memecah values dari tiap list dan menggabungkan dengan kolom lain menjadi sebuah dataframe
    df1 = pd.DataFrame({x: np.concatenate(name_df[x].values)})
    # mengganti indeks dataframe dengan indeks yang telah didefinisikan sebelumnya
    df1.index = idx
    # masukkan dataframe yang telah terbentuk ke dalam variabel df_uni
    df_uni.append(df1)
    
# menggabungkan semua dataframe
df_concat = pd.concat(df_uni, axis=1)

# melakukan left join dengan value dari dataframe awal
unnested_df = df_concat.join(name_df.drop(['knownForTitles'],1), how='left')

# select kolom sesuai dengan dataframe awal
unnested_df = unnested_df[name_df.columns.tolist()]
print(unnested_df)

         nconst        primaryName knownForTitles
0     nm1774132  Nathan McLaughlin      tt0417686
0     nm1774132  Nathan McLaughlin      tt1713976
0     nm1774132  Nathan McLaughlin      tt1891860
0     nm1774132  Nathan McLaughlin      tt0454839
1    nm10683464      Bridge Andrew      tt7718088
..          ...                ...            ...
998   nm5245804      Eliza Jenkins      tt1464058
999   nm0948460         Greg Yolen      tt0436869
999   nm0948460         Greg Yolen      tt0476663
999   nm0948460         Greg Yolen      tt0109723
999   nm0948460         Greg Yolen      tt0364484

[1918 rows x 3 columns]

## Nesting primaryName group by knownForTitles

In [9]:
unnested_drop = unnested_df.drop(['nconst'], axis=1)

df_uni = []

for col in ['primaryName']:
    df1 = unnested_drop.groupby(['knownForTitles'])[col].apply(list)
    df_uni.append(df1)
    
df_grouped = pd.concat(df_uni, axis=1).reset_index()
df_grouped.columns = ['knownForTitles','cast_name']
print(df_grouped)

     knownForTitles           cast_name
0         tt0008125    [Charles Harley]
1         tt0009706    [Charles Harley]
2         tt0010304  [Natalie Talmadge]
3         tt0011414  [Natalie Talmadge]
4         tt0011890  [Natalie Talmadge]
...             ...                 ...
1893      tt9610496  [Stefano Baffetti]
1894      tt9714030        [Kevin Kain]
1895      tt9741820   [Caroline Plyler]
1896      tt9759814     [Ethan Francis]
1897      tt9856236     [Nuala Maguire]

[1898 rows x 2 columns]

## Joining with Movie Table

### Join Table

In [10]:
# join antara movie table dan cast table
# cast table merupakan table 'df_grouped'
base_df = pd.merge(df_grouped, movie_rating_df, left_on='knownForTitles', right_on='tconst', how='inner')

#join antara base_df dan director_writer table
base_df = pd.merge(base_df, director_writers, left_on='tconst', right_on='tconst', how='left')

print(base_df.head())

  knownForTitles           cast_name     tconst titleType  \
0      tt0011414  [Natalie Talmadge]  tt0011414     movie
1      tt0011890  [Natalie Talmadge]  tt0011890     movie
2      tt0014341  [Natalie Talmadge]  tt0014341     movie
3      tt0018054     [Reeka Roberts]  tt0018054     movie
4      tt0024151     [James Hackett]  tt0024151     movie

             primaryTitle           originalTitle  isAdult  startYear  \
0         The Love Expert         The Love Expert        0     1920.0
1               Yes or No               Yes or No        0     1920.0
2         Our Hospitality         Our Hospitality        0     1923.0
3       The King of Kings       The King of Kings        0     1927.0
4  I Cover the Waterfront  I Cover the Waterfront        0     1933.0

   endYear  runtimeMinutes                   genres  averageRating  numVotes  \
0      NaN            60.0           Comedy,Romance            4.9       136
1      NaN            72.0                      NaN            6.3         7
2      NaN            65.0  Comedy,Romance,Thriller            7.8      9621
3      NaN           155.0  Biography,Drama,History            7.3      1826
4      NaN            80.0            Drama,Romance            6.3       455

                       director_name  \
0                   [David Kirkland]
1                [Roy William Neill]
2  [Buster Keaton, John G. Blystone]
3                 [Cecil B. DeMille]
4                      [James Cruze]

                                         writer_name
0                         [John Emerson, Anita Loos]
1   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3                                [Jeanie Macpherson]
4               [Max Miller, Wells Root, Jack Jevne]

### Cleaning data

In [11]:
# melakukan drop terhadap kolom 'knownForTitles'
base_drop = base_df.drop(['knownForTitles'], axis=1)

# mengganti nilai NULL pada kolom 'genres' dengan 'Unknown'
base_drop['genres'] = base_drop['genres'].fillna('Unknown')

# melakukan perhitungan jumlah nilai NULL pada setiap kolom
print(base_drop.isnull().sum())

# mengganti nilai NULL pada kolom 'director_name' dan 'writer_name' dengan 'Unknown'
base_drop[['director_name','writer_name']] = base_drop[['director_name','writer_name']].fillna('Unknown')

# mengubah kolom 'genres' menjadi list to list
base_drop['genres'] = base_drop['genres'].apply(lambda x: x.split(','))

cast_name           0
tconst              0
titleType           0
primaryTitle        0
originalTitle       0
isAdult             0
startYear           0
endYear           950
runtimeMinutes      0
genres              0
averageRating       0
numVotes            0
director_name      74
writer_name        74
dtype: int64

### Reformat table base_df

In [12]:
# drop kolom 'tconst', 'isAdult', 'endYear', 'originalTitle'
base_drop2 = base_drop.drop(['tconst', 'isAdult', 'endYear', 'originalTitle'], axis=1)

base_drop2 = base_drop2[['primaryTitle', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes',
                         'cast_name', 'director_name', 'writer_name']]
#'''Rename Kolom :
#primaryTitle -> title
#titleType -> type
#startYear -> start
#runtimeMinutes -> duration
#averageRating -> rating
#numVotes -> votes
#'''
base_drop2.columns = ['title', 'type', 'start', 'duration', 'genres', 'rating', 'votes', 'cast_name',
                      'director_name', 'writer_name']

print(base_drop2.head())

                    title   type   start  duration  \
0         The Love Expert  movie  1920.0      60.0
1               Yes or No  movie  1920.0      72.0
2         Our Hospitality  movie  1923.0      65.0
3       The King of Kings  movie  1927.0     155.0
4  I Cover the Waterfront  movie  1933.0      80.0

                        genres  rating  votes           cast_name  \
0            [Comedy, Romance]     4.9    136  [Natalie Talmadge]
1                    [Unknown]     6.3      7  [Natalie Talmadge]
2  [Comedy, Romance, Thriller]     7.8   9621  [Natalie Talmadge]
3  [Biography, Drama, History]     7.3   1826     [Reeka Roberts]
4             [Drama, Romance]     6.3    455     [James Hackett]

                       director_name  \
0                   [David Kirkland]
1                [Roy William Neill]
2  [Buster Keaton, John G. Blystone]
3                 [Cecil B. DeMille]
4                      [James Cruze]

                                         writer_name
0                         [John Emerson, Anita Loos]
1   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3                                [Jeanie Macpherson]
4               [Max Miller, Wells Root, Jack Jevne]

## Creating content-based recommender system

### Klasifikasi Metadata

In [13]:
# Klasifikasi berdasarkan 'title', 'cast_name', 'genres', 'director_name', 'writer_name'
feature_df = base_drop2[['title', 'cast_name', 'genres', 'director_name', 'writer_name']]

print(base_drop2.head())

                    title   type   start  duration  \
0         The Love Expert  movie  1920.0      60.0
1               Yes or No  movie  1920.0      72.0
2         Our Hospitality  movie  1923.0      65.0
3       The King of Kings  movie  1927.0     155.0
4  I Cover the Waterfront  movie  1933.0      80.0

                        genres  rating  votes           cast_name  \
0            [Comedy, Romance]     4.9    136  [Natalie Talmadge]
1                    [Unknown]     6.3      7  [Natalie Talmadge]
2  [Comedy, Romance, Thriller]     7.8   9621  [Natalie Talmadge]
3  [Biography, Drama, History]     7.3   1826     [Reeka Roberts]
4             [Drama, Romance]     6.3    455     [James Hackett]

                       director_name  \
0                   [David Kirkland]
1                [Roy William Neill]
2  [Buster Keaton, John G. Blystone]
3                 [Cecil B. DeMille]
4                      [James Cruze]

                                         writer_name
0                         [John Emerson, Anita Loos]
1   [Arthur F. Goodrich, Burns Mantle, Mary Murillo]
2  [Jean C. Havez, Clyde Bruckman, Joseph A. Mitc...
3                                [Jeanie Macpherson]
4               [Max Miller, Wells Root, Jack Jevne]

## Membuat fungsi sanitize

In [14]:
# membuat fungsi sanitize untuk melakukan strip spaces dari setiap row dan elemennya
def sanitize(x):
    try:
        # jika cell berisi list
        if isinstance(x,list):
            return [i.replace(' ','').lower() for i in x]
        # jika cell berisi string
        else:
            return [x.replace(' ','').lower()]
    except:
        print(x)
        
# kolom yang digunakan : 'cast_name', 'genres', 'director_name', 'writer_name'
feature_cols = ['cast_name', 'genres', 'director_name', 'writer_name']

# menggunakan fungsi sanitize
for col in feature_cols:
    feature_df[col] = feature_df[col].apply(sanitize)

c:\users\lenovo\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Membuat fungsi soup_feature

In [15]:
# membuat fungsi untuk metadata soup (menggabungkan semua feature menjadi 1 bagian kalimat) untuk setiap judul
def soup_feature(x):
    # menggunakan kolom 'cast_name', 'genres', 'director_name', 'writer_name'
    return ' '.join(x['cast_name']) + ' '.join(x['genres']) + ' '.join(x['director_name']) + ' '.join(x['writer_name'])

# membuat soup menjadi satu kolom
feature_df['soup'] = feature_df.apply(soup_feature, axis=1)

c:\users\lenovo\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

### Membuat CountVectorizer dan melakukan fit terhadap feature_df['soup']

In [16]:
# import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

# definisikan CountVectorizer dan ubah kolom 'soup' menjadi vektor
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(feature_df['soup'])

print(count)
print(count_matrix.shape)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)
(1060, 10151)

### Membuat model cosine similarity antara count matrix

In [17]:
# import cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity

# menggunakan cosine_similarity terhadap count_matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

print(cosine_sim)

[[1.         0.         0.19245009 ... 0.         0.         0.        ]
 [0.         1.         0.         ... 0.         0.         0.        ]
 [0.19245009 0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

### Membuat content-based recommender system

In [18]:
indices = pd.Series(feature_df.index, index=feature_df['title']).drop_duplicates()

def content_recommender(title):
    # mengambil index dari title film yang disebutkan
    idx = indices[title]
    # mengubah array dalam variable cosine_sim menjadi list
    sim_scores = list(enumerate(cosine_sim[idx]))
    # mengurutkan film dari score similarity tertinggi
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
    # mengambil list judul dari item kedua sampai ke-11
    sim_scores = sim_scores[1:11]
    # mengambil indeks dari judul-judul film yang muncul dari sim_scores
    movie_indices = [i[0] for i in sim_scores]
    # memanggil kembali berdasarkan indeks dari movie_indices
    return base_df.iloc[movie_indices]

In [19]:
print(content_recommender('The Lion King'))

    knownForTitles                   cast_name      tconst titleType  \
556     tt10068158          [Hiroki Matsukawa]  tt10068158     movie
695      tt1651954              [Noriko Okaku]   tt1651954     short
191      tt0107875               [Simon Mayal]   tt0107875     movie
863      tt3270412            [Manaaki Warren]   tt3270412     short
792      tt2262227               [Gizem Gülen]   tt2262227     movie
896      tt3896100  [Cristina Carrión Márquez]   tt3896100     movie
258      tt0136748          [Francisco Bretas]   tt0136748     movie
383      tt0286336          [Francisco Bretas]   tt0286336  tvSeries
161      tt0100477             [Barry O'Neill]   tt0100477     movie
723      tt1794595            [Guy Michelmore]   tt1794595  tvSeries

                      primaryTitle                      originalTitle  \
556  Made in Abyss: Journey's Dawn  Made in Abyss: Tabidachi no Yoake
695                           Spin                               Spin
191    The Princess and the Goblin        The Princess and the Goblin
863                  Over the Moon                      Over the Moon
792               The Book of Life                   The Book of Life
896               Capture the Flag                  Atrapa la bandera
258                     Cassiopéia                         Cassiopéia
383   The Animals of Farthing Wood       The Animals of Farthing Wood
161        The Rescuers Down Under            The Rescuers Down Under
723                The Jungle Book                    The Jungle Book

     isAdult  startYear  endYear  runtimeMinutes                       genres  \
556        0     2019.0      NaN           139.0  Adventure,Animation,Fantasy
695        0     2010.0      NaN             5.0       Action,Animation,Short
191        0     1991.0      NaN            82.0   Adventure,Animation,Comedy
863        0     2013.0      NaN             8.0      Action,Animation,Comedy
792        0     2014.0      NaN            95.0   Adventure,Animation,Comedy
896        0     2015.0      NaN            94.0   Adventure,Animation,Comedy
258        0     1996.0      NaN            80.0   Adventure,Animation,Family
383        0     1993.0   1995.0            25.0    Adventure,Animation,Drama
161        0     1990.0      NaN            77.0    Adventure,Animation,Crime
723        0     2010.0      NaN            11.0   Adventure,Animation,Family

     averageRating  numVotes                           director_name  \
556            7.4        81                       [Masayuki Kojima]
695            6.9        26                           [Max Hattler]
191            6.8      2350                          [József Gémes]
863            6.8        15                      [James Cunningham]
792            7.3     62190                    [Jorge R. Gutiérrez]
896            5.8      3307                          [Enrique Gato]
258            6.8       187                         [Clóvis Vieira]
383            8.3      3057  [Elphin Lloyd-Jones, Philippe Leclerc]
161            6.9     36308            [Hendel Butoy, Mike Gabriel]
723            4.7        89                    [Tapaas Chakravarti]

                                           writer_name
556                                 [Akihito Tsukushi]
695                                      [Max Hattler]
191                    [Robin Lyons, George MacDonald]
863       [James Cunningham, Timothy Kidd, Karl Wills]
792                [Jorge R. Gutiérrez, Doug Langdale]
896  [Jordi Gasull, Javier López Barreira, Neil Lan...
258  [Aloisio Castro, José 'Zezo' Feliciano, Robin ...
383  [Valerie Georgeson, Colin Dann, Jenny McDade, ...
161  [Jim Cox, Karey Kirkpatrick, Byron Simpson, Jo...
723  [David Fox, Jill Brett, Darren Jones, Rachel M...